<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
본 자료는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 자료를 외부에 공개하지 말아주세요.<br>
본 강의만 잘 정리하면, 데이터 분석, 데이터 과학, 풀스택(백엔드, 프론트엔드) 개발 모두 가능합니다!<br>
<b><a href="https://school.fun-coding.org/">잔재미코딩</a> 에서 본 강의 기반 최적화된 로드맵도 확인하실 수 있습니다</b></div>

## 문자열 관련 함수 알아보기

### 문자열에 있는 특정 문자 갯수 세기 (count 함수)

In [5]:
data = 'Dave David';
print(data.count('v'));    # 문자열에 D 가 몇 번 나올까요? 대소문자도 구별함

data1 = "Park SungCheol";
print(data1.count("P"));

2
1

* 간단 연습: string에 v 는 몇 번 나올까?
* 간단 연습: string에 vid 는 몇 번 나올까? (꼭 문자 하나만 되는 것이 아니라, 연결된 문자열도 가능)

### 문자열에 있는 특정 문자의 위치 알려주기 
### index 함수

In [7]:
string = 'Dave ID is dave';
string.index('i');   # 맨 앞 자리부터 0, 1, ... 순으로 위치를 표시

data1 = "Park SungCheol";
print(data1.index("S"));

5

* 간단 연습: string에 있는 D의 위치 확인하기 (가장 먼저 나오는 위치를 알려줌)
* 간단 연습: string에 x의 위치 확인하기 (해당 문자가 없으면 에러가 남)

In [11]:
data1 = "Park SungCheol";
print(data1.index('x'));

ValueError: substring not found

### 해당 문자가 문자열에 없을 때, 에러를 안낼 수는 없을까? --> find 함수를 사용하면 됨
* find 함수는 해당 문자가 문자열에 없으면 -1 을 리턴함 (에러는 내지 않음)
* 이외에는 index 함수와 동일

In [12]:
string = 'dave is david'
string.find('x')

data1 = "Park SungCheol";
print(data1.find("x"));

-1

In [13]:
data1 = "Park SungCheol";
print(data1.find("x"));    # 맨 앞 자리부터 0, 1, ... 순으로 위치를 표시

if (data1.find("x") == -1):
    print("x 없음");

-1
x 없음

* 간단 연습: string에 d의 위치 확인하기

### 문자열 사이에 다른 문자 넣기

In [17]:
data = "park";
comma = ",";
comma.join(data);
print(comma.join(data));

p,a,r,k

* 간단 연습: 문자열 사이에 ... 넣기

### 문자열 앞뒤에 공백 지우기
* 실제 현실 세계에 있는 문자열 데이터를 정리하다보면, 문자열 앞뒤에 공백 또는 기호가 있는 경우가 많음

In [18]:
data = " Dave "
data.strip()        # 앞 뒤 공백을 다 지움

'Dave'

In [19]:
string2 = "     David  "
string2.strip()      # 앞 뒤 공백이 여러개 있어도 한번에 다 지움

'David'

In [20]:
string2.lstrip()      # 앞쪽(문자열 왼쪽)만 지우기 left strip 의 약자

'David  '

In [21]:
string2.rstrip()      # 앞쪽(문자열 오른쪽)만 지우기 right strip 의 약자

'     David'

In [22]:
string = "      9999999999999999(Dave)888888888888888888     "
string.strip(" 98()")        # 앞 뒤 괄호를 다 지움

data = "     112233####pa#rk";
print(data.strip(" #123"));

pa#rk

### 영문자 대소문자로 변환하기
* 대소문자를 구별하기 때문에, 대소문자 구별하지 않고 처리를 하기 위해 임의로 대문자 또는 소문자로 다 바꿀 때가 있음

### 소문자를 대문자로 바꾸기

In [23]:
string = 'Dave'
string.upper()        # 본래 대문자는 놔두고, 소문자인 문자만 대문자로 변경

data = "park";
print(data.upper());

PARK

### 대문자를 소문자로 바꾸기

In [24]:
string = 'Dave'
string.lower()        # 본래 소문자는 놔두고, 대문자인 문자만 대문자로 변경

data = "Park";
print(data.lower());

park

### 문자열을 나누기

In [25]:
string = "Dave goes to Korea"
string.split()       # split() 인자를 넣지 않으면 디폴트로 스페이스를 기준으로 분리

data = "p a r k";
print(data.split());

['p', 'a', 'r', 'k']

In [52]:
string = "Dave goes to Korea"
string.split()[3]

'Korea'

In [32]:
string.split(' ')    # 명시적으로 스페이스를 기준으로 분리하겠다고 넣어줘도 됨

['Dave', 'goes', 'to', 'Korea']

In [33]:
string = "Dave/goes/to/Korea"
string.split('/')   # split() 인자를 넣으면 해당 인자를 기준으로 분리

['Dave', 'goes', 'to', 'Korea']

<div class="alert alert-block alert-success">
<strong><font color="blue" size="4em">프로그래밍 연습</font></strong><br>
string = "10,11,22,33,44" 를 컴마(,) 로 분리해서 리스트 변수를 만들어 각 값을 정수형 리스트 데이터로 넣기
</div>
<pre>
int('11') 을 실행하면 숫자 11로 변환
</pre>

In [34]:
string = "10,11,22,33,44" 
string.split(',')

['10', '11', '22', '33', '44']

In [41]:
string = "10,11,22,33,44" 
listdata = string.split(',')

for index, listitem in enumerate(listdata):
    listdata[index] = int(listitem)
print (listdata)

[10, 11, 22, 33, 44]

In [26]:
data = "1,2,3,4,5";
data_list = data.split(",");

for index, item in enumerate(data_list):
    data_list[index] = int(item);
    
print(data_list);

[1, 2, 3, 4, 5]

### 문자열 중 일부를 다른 문자로 바꾸거나, 삭제하기

In [27]:
data = "Park Sung Cheol";

print(data.replace("Park", "Kim"));

Kim Sung Cheol

In [22]:
string2 = "(Dave)"
string2.replace("()", "")           # 연결된 문자열은 해당 문자열이 동일하게 매칭이 되어야 함

'(Dave)'

In [23]:
string2.replace("(", "")

'Dave)'

In [24]:
string2.replace(")", "")

'(Dave'

In [29]:
data = "(park)";
data = data.replace("(", "").replace(")", "");

print(data);

park

In [27]:
string2 = "(Dave)"

string2.replace("(", "").replace(")", "")

'Dave'

<div class="alert alert-block alert-success">
<strong><font color="blue" size="4em">프로그래밍 연습</font></strong><br>
string = "10,11,22,33,44" 에서 컴마(,) 를 / 으로 대체하기
</div>

In [28]:
string = "10,11,22,33,44"
string.replace(",", " ")

'10 11 22 33 44'

<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
본 자료는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 자료를 외부에 공개하지 말아주세요.<br>
본 강의만 잘 정리하면, 데이터 분석, 데이터 과학, 풀스택(백엔드, 프론트엔드) 개발 모두 가능합니다!<br>
<b><a href="https://school.fun-coding.org/">잔재미코딩</a> 에서 본 강의 기반 최적화된 로드맵도 확인하실 수 있습니다</b></div>